<!-- <html>
    <head>
        <title>ABOUT US</title>
    </head>
    <body>
        <h1>ABOUT US</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae consectetur deserunt in delectus temporibus nam, sint asperiores omnis quidem itaque quae quisquam tenetur debitis quis molestiae aut officia quos laborum animi corporis aperiam. Unde dolorum magnam voluptate amet, ipsam placeat, neque pariatur iusto iure, possimus a sequi nobis omnis similique.
        </p>
        
    </body>
</html> -->




<!-- NOW, FROM HERE WE WILL USE THE BASE FILE CREATED USING THE GINGER TEMPLATE 
     FOR MORE UNDERSTANDING VISIT THE base.html PAGE -->

    <!--SYNTAX TO EXTEND THE BASE.HTML . MEANING TO IMPORT ITS CODE   -->
    {% extends "base.html" %}

    <!-- TO ACCESS THE MAIN BLOCK -->

    {% block main %}

        <h1> IT IS THE ABOUT PAGE</h1> 

        <!-- TO ACCESS THE FORM PASSED FROM THE ROUTES -->

        <form action="/about" method="POST">
            <!-- CSRF TOKEN TO PREVENT MALICIOUS ATTACKS ON OUR WEBSITE FORMS -->
            <!-- NEED TO LEARN MORE ABOUT IT -->
            {{ form.csrf_token }}
            
            <!-- FORM IMPLEMENTATION  -->
            {{ form.title.label }}
            {{ form.title }}
            {{ form.submit }}
        </form>

        <!-- TO UTILIZE THE INFORMATION SUBMITTED BY THE FORM TAG -->
        {% if title %}
            <h1> {{ title }}</h1>
        {% endif %}    
        
    {% endblock main%}


