<!-- THIS WILL ACT AS A BASE FILE FOR ALL OTHER FILES
     IT'S CODE WILL BE USED IN OTHER FILES
     IF WE TALK IN TERMS OF PHP, IT IS THE HEADER FILE BUT A BIT ADVANCED -->


<html>
    <head>
        <title>INRO TO FLASK</title>
    </head>
    <body>
    
        <h1>WELCOME TO THE WEBSITE </h1>
        
        <!-- THIS IS THE MAIN AREA WHICH WILL LBE DIFFERENT FOR EACH HTML FILE  -->
        <!-- IT IS KNOWN AS THE GINGER TEMPLATING. --> 
        <!-- THIS MAIN BLOCK WILL BW ACCESSED AS A VARIABLE IN THE OTHER HTML FILES -->
        {% block main %}
        {% endblock main %} 

    </body>
</html>